.sidebar-container {
  background-color: #fff;
  box-shadow: 0px 0px 3px #00000029;
}

.tab-container {
  background-color: #f8f9fa;
}

.profile-picture-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.menu-link-container {
  transition: background 0.3s ease;
  font-size: 1.2rem;
}

.menu-link-container:hover {
  background-color: #f8f9fa;
}

.menu-link-active {
  background: transparent linear-gradient(285deg, #fbc2eb 0%, #a6c1ee 100%) 0%
    0% no-repeat padding-box;
}
