* {
  color: #4a4a4a;
}

h1 {
  color: #82aaed;
}

.sidebar-container {
  background-color: #fff;
  box-shadow: 0px 0px 3px #00000029;
}

.tab-container {
  background-color: #f8f9fa;
}

.profile-picture-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.menu-link-container {
  transition: background 0.3s ease;
  font-size: 1.2rem;
}

.menu-link-container:hover {
  background-color: #f8f9fa;
}

.menu-link-container * {
  color: #b6b6b7;
}

.menu-link-active {
  background: transparent linear-gradient(285deg, #fbc2eb 0%, #a6c1ee 100%) 0%
    0% no-repeat padding-box;
}

.menu-link-active * {
  color: #4a4a4a;
}

.menu-link-active *:hover {
  color: #4a4a4a;
}

.state-text {
  color: #4a4a4a;
}

.countdown-circle {
  stroke-dasharray: 999;
  /*   stroke-dashoffset: -999; */
  transition: all 0.8s ease-in-out;
  transform: rotate(-90deg);
  transform-origin: center;
}
